.fillter {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


.item-fillter {
    width: 90%;
}

.title-fillter {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.title-fillter h3 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #5B406A;
}


.main-fillter {
    width: 100%;
    margin: 100px 0px;
    display: flex;
}



/* fillter saidbar  */

.fillter-saidbar {
    width: 25%;
    height: 120vh;
}




.select-fillter {
    width: 100%;
    padding: 20px 25px;
    height: 95%;
    margin-top: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.16));
}

.SelectSearchType {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-fillter input {
    width: 20px;
}

.top-radio {
    display: flex;
    gap: 10px;
}

.bottom-radio {
    display: flex;
    gap: 10px;
}


.select-group-fillter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.select-group-fillter {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.online-zoom {
    width: 100%;
    height: 50px;
}

.online-zoom .arrow-div-online-zoom {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.online-zoom .arrow-div-online-zoom span {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 10px;
    background-color: #F6B940;
    cursor: pointer;
}

.arrow-div-online-zoom i {
    font-size: 1.5rem;

}


#id-select .online-zoom .arrow-div-online-zoom span {
    background-color: #fff;
    color: #000;
    border: 1px solid rgb(147, 147, 147);
}






.rating-saidbar {
    width: 100%;
    /* border: 1px solid black; */
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.rating-range {
    width: 100%;
    position: relative;
}

.roow {
    /* background-color: #000; */
    width: 100%;
    height: 2px;
    position: relative;
    border-radius: 10px;
}

.rating-range {
    width: 100%;
    background: rgba(169, 167, 167, 0.6);
    height: 2px;
    position: relative;
    display: flex;
}

.rating-range input {
    width: 50%;
}

.rating-range input[type="range"] {
    -webkit-appearance: none;
    /* margin-right: 15px; */
    width: 200px;
    height: 2px;
    background: rgba(169, 167, 167, 0.6);
    border-radius: 5px;
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

.rating-range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: inherit;
    border: 4px solid gold;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}


.progres {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

.progres div {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    color: #000;
    font-weight: 400;
}

.saidbar-bottom-search {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saidbar-bottom-search button {
    width: 70%;
    height: 55%;
    border: none;
    background-color: #F6B940;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
}

.saidbar-bottom-search button i {
    font-size: 1.8rem;
}

.saidbar-bottom-search button {
    font-size: 1.2rem;
}

.bottom-saidbar-location {
    width: 100%;
    background-color: #fff;
    margin-top: 30px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.16));
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #5B406A;
}





/* main-fillter-all-sections */
.main-fillter-all-sections {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.item-main-fillter-all-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.map {
    width: 96%;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map img {
    width: 100%;
    border-radius: 30px;
    height: 100%;
}

.ittesxnology {
    width: 100%;
    display: grid;
    padding: 0px 20px;
    gap: 48px;
    grid-template-columns: 30% 30% 30%;
}



/* search-in-fillter  */
.search-in-fillter {
    width: 96%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-in-fillter input {
    color: gray;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    height: 100%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.16));
    background-color: #fff;

}



.pagination-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: end;
    gap: 10px;
}

.pagination-buttons button {
    width: 50px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #F6B940;
    border: none;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 10px;
    filter: drop-shadow(0px 15px 49px rgba(3, 11, 97, 0.1));
}

.pagination-buttons span {
    font-size: 2rem;
    color: #F6B940;
}