.profil {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
    margin-top: 160px;

}



.item-profil {
    width: 90%;
    display: flex;
}

.saidbar-profil {
    width: 25%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.saidbar-profil ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
    margin-right: 30px;
    justify-content: center;
    padding: 20px 40px;
    background-color: #fff;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.04));

}

.saidbar-profil ul li {
    color: #9d9d9d;
    font-size: 1.2rem;
}






.main-profil {
    width: 75%;
}


/* edit  */
.edit {
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.top-edit {
    width: 100%;
    position: relative;
}

.ava-edit {
    width: 21%;
    position: relative;
}

.ava-edit img {
    width: 200px;
}

.ava-edit i {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #504368;
    color: #fff;
    font-size: 2rem;
    border-radius: 20px;
}

/* middle-edit */
.middle-edit {
    width: 100%;
    display: flex;
    justify-content: start;
}

.item-middle-edit {
    width: 80%;
    /* border: 1px solid black; */
    height: 60vh;
}

.item-middle-edit div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.item-middle-edit div span {
    width: 49%;
    /* border: 1px solid black; */
    margin-top: 20px;
}

.item-middle-edit div span input {
    width: 100%;
    height: 60px;
    background-color: #EFEFEF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.item-middle-edit div span label {
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    font-style: normal;
    text-align: left;
    color: #47406a;

}

.bottom-button-edit {
    width: 100%;
    position: relative;
    height: 150px;
    display: flex;
    align-items: center;
}

.bottom-button-edit button {
    position: absolute;
    right: 0;
    width: 25%;
    height: 60px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 45px;
    filter: drop-shadow(0px 3px 10.5px rgba(0, 0, 0, 0.16));
    background: #47406a
}

.modal {
    width: 100vw;
    left: 0;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #707070b1;
    top: 0;
    z-index: 1111111;
}

.modal-card {
    width: 400px;
    height: 350px;
    position: relative;
    background-color: #FFFFFF;
    padding: 20px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modal-card i {
    position: absolute;
    font-weight: 300;
    top: 10px;
    right: 10px;
    color: #5043688c;
    font-size: 2.5rem;
    cursor: pointer;
}

.top-modal {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.top-modal p {
    text-align: center;
    font-size: .9rem;
}

.top-modal p span {
    font-weight: 800;
}

.input-modal {
    width: 100%;
    height: 100px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.input-modal label {
    color: #47406a;
}

.input-modal input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    filter: drop-shadow(0px 16px 34px rgba(27, 40, 155, 0.11));


}

.bottom-modal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.bottom-modal button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    background-color: #47406a;
    color: #fff;
}


/* chat-pole */
.chat-pole {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.item-main-chat {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.top-chat {
    width: 100%;
    background-color: #FFFFFF;
    height: 15%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 1.6rem;
}

.top-chat h3 {
    font-weight: 400;
}

.chat-middle {
    height: 85%;
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    gap: 7px;
}

.chat-time {
    color: #a4a4a4;
    font-size: .9rem;
}

.chat-middle ul {
    width: 100%;
    height: 30%;
}

.top-massage {
    flex-direction: column;
    display: flex;
    align-items: end;
    margin-top: 20px;
    gap: 7px;
}

.bottom-time {
    flex-direction: column;
    display: flex;
    align-items: start;
    gap: 7px;
    margin-top: 20px;
    color: #8d8d8d;
}

.bottom-time li {
    width: 40%;
    border-radius: 10px 10px 10px 0px;
    padding: 20px 0px 0px 20px;
    color: #47406a;
    height: 100%;
    background-color: #F1EEE7;
}


.top-massage li {
    width: 40%;
    border-radius: 10px 10px 10px 10px;
    padding: 20px 0px 0px 20px;
    color: #47406a;
    height: 100%;
    background-color: #F6F6F6;
}

.bottom-chat {
    width: 100%;
    position: relative;
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.item-bottom-chat {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.item-bottom-chat i {
    position: absolute;
    font-size: 2rem;
    color: #656565;
    cursor: pointer;
    padding: 10px;
}

.item-bottom-chat input {
    width: 100%;
    height: 70%;
    border: none;
    outline: none;
    padding-left: 45px;
    border-radius: 40px;
    background-color: #F7F7F7;
}

.send {
    position: absolute;
    right: 0;
}